<li>
    <a class="list-item" [routerLink]="[album.title]" routerLinkActive="active">
        <div class="album-item">
            <div class="pure-g">
                <div class="pure-u-1-5">
                    <img [src]="album.cover">
                </div>
                <div class="pure-u-4-5">
                    <p class="album-name" [textContent]="album.title"></p>
                    <ul>
                        <li *ngFor="let artist of album.artists" [textContent]="artist.name"></li>
                    </ul>
                    <p [textContent]="album.genres"></p>
                </div>
            </div>
        </div>
    </a>
</li>