.album-item {
    border-bottom: 1px solid;
    padding: 1rem;
}

.album-item p {
    padding-left: 1rem;
}

.album-item img {
    max-width: 100%;
    border-radius: 2px;
    line-height: 0;
}

.list-item {
    display: block;
    transition: all .5s;
    color: darkgray;
    background: #e0e0e0;
}

.list-item.active {
    background: #f0f0f0;
}