<div>
    <span class="amount-checkout" [textContent]="addedAlbums.length"></span>
    <span class="fa fa-shopping-cart"></span> <span class="fa fa-caret-down"></span>
    <ul>
        <li *ngFor="let album of addedAlbums">
            <div class="pure-g">
                <div class="pure-u-1-5">
                    <img [src]="album.cover">
                </div>
                <div class="pure-u-4-5">
                    <p class="title" [textContent]="album.title"></p>
                </div>
            </div>
        </li>
    </ul>
</div>