span {
    color: white;
    font-size: 1.2rem;
}

div {
    position: relative;
}

div ul:hover,
div:hover ul {
    visibility: visible;
    opacity: 1;
}

div>ul {
    padding: 0;
    list-style: none;
    right: 0;
    visibility: hidden;
    -webkit-transition: all .5s;
    transition: all .5s;
    top: 7px;
    opacity: 0;
    overflow: hidden;
    left: -18rem;
    background: white;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, .5);
    position: absolute;
}

.fa-shopping-cart {
    padding: 0 .2rem 0 1rem;
}

ul li {
    padding: 1rem;
    cursor: pointer;
}

ul li img {
    max-width: 100%;
}

ul li:hover {
    background: rgba(0, 0, 0, .1);
}

.title {
    padding: 0 .5rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.amount-checkout {
    position: absolute;
    background: white;
    border-radius: 50%;
    top: -9px;
    right: 9px;
    height: 1rem;
    width: 1rem;
    font-size: .7rem;
    color: black;
    text-align: center;
    line-height: 1rem;
}