.home-menu {
    padding: 1rem;
    display: flex;
    align-items: center;
    background-color: #1f8dd6;
}

.home-menu a {
    color: white;
}

.home-menu a:focus,
.home-menu a:hover {
    background-color: #1f8dd6;
    text-decoration: underline;
}

.pure-menu-list {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.pure-menu-list .active {
    text-decoration: underline;
}